.thumb {
    width: 75px;
    height: 75px;
    float: none;
    position: relative;
    top: 7px;
}

.pic {
    width: 245px;
    height: 245px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
